<h1>HR Dashboard</h1>

<p>
<%= link_to 'View User List', users_path %> 
</p>

<p>
<%= link_to 'View Department List', departments_path %> 
</p>

<p>
<%= link_to 'View Unapproved Fitbit Data', fitbit_data_approval_list_user_path(current_user) %> 
</p>