<h1>New User</h1>

<% if logged_in? %>
    <% if current_user.admin %>
        <p>
        <%= link_to 'Back to User List', users_path, class: "btn btn-danger" %>
        </p>
    <% end %>
<% end %>

<%= render 'form' %>