<div class="center jumbotron">
  <h1>Oops!</h1>

  <h2>
    You don't have permission to reach this page!
  </h2>

  <%= link_to "Go Back To Home", root_path, class: "btn btn-lg btn-primary" %>
</div>