<div class="center jumbotron">
  <h1>Welcome!</h1>

  <h3>
    Please login to your account, or sign up to start accessing the online Fitbit portal
  </h3> <br/>

  <%= link_to "Login", login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Signup", signup_path, class: "btn btn-lg btn-primary" %>
</div>