<footer class="footer">
  <small>
    The Fitbit Portal
    by A Bit of Fit Company
  </small>
  <nav>
    <ul>
      <li><small>Contact us at: bit.of.fit@gmail.com</small></li>
    </ul>
  </nav>
</footer>