<li class="nav-item <% if controller.action_name == "index" %>active<% end %>">
<%= link_to "User List", users_path, class: "nav-link" %>
</li>

<li class="nav-item dropdown">
<a class="nav-link dropdown-toggle <% if controller.action_name == 'show' %>active<% end %>" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Account</a>
<div class="dropdown-menu" aria-labelledby="dropdown01">
<%= link_to "My Profile", user_path(current_user), class: "dropdown-item"  %>
<%= link_to "Log out", logout_path, class: "dropdown-item", method: :delete  %>
</div>
</li>